
<link rel="stylesheet" href="/css/message.css">
<link rel="stylesheet" href="/css/purecssbutton.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&display=swap" rel="stylesheet">

<%- include("dheader.ejs",{emails:mails , title:"Dashboard"})%>

<div class="container rounded bg-white mt-5 mb-5 message_pad">
    <br>
    <div class="wrapper">
        <h1 class="text-center">
            Items Shared
        </h1>
        <!-- Looping through and creating a bubble and corresponding detail popup for each item. -->
        <% for(i=0; i<items.length;++i){ %>
            <% for(j=0;j<items[i].itemsposted.length;++j){ %>
                <div class="speechbubble">
                    <div class="box">
                        <div class="aalign"><a class="button" href="#popup1"></a>
                            <span> <b> Item:</b>
                            <%=items[i].itemsposted[j].item%>
                            <br></span>
                            <p><b>Item Description:</b>
                                <%=items[i].itemsposted[j].description%>
                                    <br>
                            </p>
                            <p><span class="qty"><b>Item Quantity</b>
                                <%=items[i].itemsposted[j].quantity%>
                                    <br>
                            </span></p>
                        </div>
                    </div>
                    <div id="popup1" class="overlay">
                        <div class="popup">
                            
                            <a class="close" href="#">&times;</a>
                            <div class="content">
                                <span> <b> Name:</b>
                                    <%=items[i].name%>
                                        <%=items[i].surname%>
                                            <br>
                                </span>
                                <span> <b>Email:</b>
                                    <%=items[i].email%>
                                        <br>
                                </span>
                                <span> <b>Mobile:</b>
                                    <%=items[i].mobile %>
                                        <br>
                                </span>
                                <span> <b>Roll No:</b>
                                    <%=items[i].roll %> <b>Year:</b>
                                        <%=items[i].year%>
                                            <br>
                                </span>
                                <span> <b>Address:-</b> <br><b>Room No : </b>
                                    <%=items[i].room%><b> Hostel Name : </b>
                                        <%=items[i].hostel%>
                                            <br>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                    <%};%>
                    <%}%> 

    </div>

</div>
<%- include("dfooter") %>
